.cls-1 {
	fill: none;
	stroke: #149414;
	stroke-miterlimit: 10;
	stroke-width: 13px;
	stroke-dasharray: 9;
}
.cls-2 {
	isolation: isolate;
}
.cls-3 {
	fill: #182e17;
}
.cls-4 {
	fill: #254824;
}
.cls-5 {
	fill: #57815a;
}
