.circle {
	width: 21vw;
	margin: 0 auto;
	position: relative;
	font-family: digitalDream;
}
.circle svg {
	position: absolute;
	transform: rotate(-90deg);
}
.circle h1 {
	position: absolute;
	color: #0eeb0e;
	margin-top: 35%;
	left: 1vw;
	font-size: 3vw;
	text-align: center;
	line-height: 1.2em;
	text-shadow: #33ce00 0 0 13px;
	padding: 0 1vw;
}
.circle h1::after {
	content: '_';
	animation: blink 0.7s linear infinite;
}
@keyframes blink {
	0% {
		opacity: 0;
	}
	49% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}
.cls-1 {
	stroke-dasharray: 1454.6;
	stroke-dashoffset: 1454.6;
	animation: stroke 3s cubic-bezier(1, 0.2, 0.25, 0.58) forwards;
	animation-delay: 3.5s;
}
@keyframes stroke {
	0% {
		stroke-dashoffset: 1454.6;
		stroke-dasharray: 1454.6;
	}
	50% {
		stroke-dashoffset: 0;
		stroke-dasharray: 1454.6;
	}
	100% {
		stroke-dasharray: 10;
	}
}
.cls-3 {
	fill: #182e17;
}
.cls-4 {
	fill: #254824;
}
.cls-5 {
	fill: #57815a;
}
@media screen and (max-width: 1080px) {
	.circle {
		width: 40vh;
	}
	.circle h1 {
		margin-top: 35%;
		left: 3vw;
		font-size: 5vh;
	}
}
