@font-face {
	src: url('../../static/DIGITALDREAMFAT.ttf');
	font-family: digitalDream;
}

.main {
	width: 85vw;
	margin: 0 auto;
	padding: 6vh 0;
}
.job {
	text-align: center;
	font-family: digitalDream;
	color: #0eeb0e;
	font-size: 3.5vw;
	margin-top: 24vw;
	height: 3.5vw;
}

@media screen and (max-width: 1080px) {
	.main {
		padding: 3vh 0;
	}
	.job {
		font-size: 8vw;
		margin-top: 80vw;
		height: 10vw;
		line-height: 1.5em;
	}
}
